body {
  padding: 0px;
  margin: 0px;
  background-color: cadetblue;
}
.dad-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px;
  background-color: cadetblue;
}
.main-container{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  height: 640px; width: 640px;
  overflow: hidden;
  border: solid 5px black;
}

.square{
  background-color: hsl(184, 100%, 50%);
  height: 80px;
  width: 80px;
}

.col:nth-of-type(odd) .square:nth-of-type(even){
  background-color: rgb(0,102,153);
}
.col:nth-of-type(even) .square:nth-of-type(odd){
  background-color:  rgb(0,102,153);
}
.square img{
  width: 100%;
}